@media(max-width: 1700px) {
    .landing__img {
        width: 90%;
    }

    .topMenu {
        padding: 0 5%;
    }

    .landing__oferta__item {
        margin: 0 25px;
    }

    .topMenu::after {
        width: 90%;
    }

    .oferta__item {
        width: 30%;
        margin: 0 0 40px;
    }
}

@media(max-width: 1500px) {
    .landing__header__header {
        font-size: 25px;
    }
}

@media(max-width: 1300px) {
    .landing__header {
        width: 85%;
        margin: 0 auto;
    }

    .oferta {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    .oNas__section__header {
        font-size: 22px;
    }

    .oNas__section__text {
        font-size: 15px;
    }
}

@media(max-width: 1200px) {
    .topMenu__item {
        font-size: 15px;
        margin: 0 20px;
    }

    .landing__header {
        font-size: 25px;
    }
}

@media(max-width: 1100px) {
    .landing__oferta__item__imgWrapper {
        width: 40px;
        height: 40px;
    }

    .landing__oferta__item__img {
        width: 20px;
        height: 20px;
    }

    .landing__oferta__item {
        margin: 0 10px;
    }
}

@media(max-width: 1000px) {
    .landing__oferta__item__header {
        display: none;
    }

    .landing__oferta__item__imgWrapper {
        margin: 0;
    }

    .landing__header {
        height: 80px;
    }

    .footer {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .oferta__item__header {
        font-size: 17px;
    }

    .oferta__item__text {
        font-size: 14px;
    }

    .oNasInner {
        width: 90%;
    }

    .oNasInner::after, .oNasInner::before {
        left: -5vw;
    }
}

@media(max-width: 900px) {
    .landing__header, .topMenu__list {
        display: none;
    }

    .topMenuMobile {
        display: flex;
    }

    .oferta__section {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .hamburgerMenu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 30px;
        background: transparent;
    }

    .hamburgerLine {
        width: 100%;
        height: 2px;
        background: #E0AB49;
    }

    .footer__header {
        font-size: 18px;
    }

    .footer__contact {
        margin: 15px 0;
    }

    .footer__contact__data {
        font-size: 13px;
    }

    .oferta__item {
        width: 45%;
    }

    .ofertaMobile__header {
        width: 100%;
        display: block;
        margin-bottom: 50px;
        text-align: center;
        color: #fff;
        font-size: 26px;
    }

    .oferta {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 70px;
    }

    .oferta__header {
        font-size: 24px;
    }

    h2 {
        font-size: 25px !important;
    }
}

@media(max-width: 800px) {
    .kontakt__header, .potwierdzenie__text {
        font-size: 26px;
        padding: 0 20px;
    }

    .potwierdzenie {
        width: 90%;
    }

    .contactForm {
        width: 90%;
    }

    .formaKontaktu * {
        font-size: 13px;
    }

    .landing__img {
        width: 100%;
    }

    .topMenu {
        height: 100px;
    }
}

@media(max-width: 700px) {
    .oferta__section {
        padding: 20px 5vw;
    }

    .oferta__subsection {
        border-left: none;
        padding: 40px 0;
    }

    .oferta__subsection::before {
        display: none;
    }

    .oferta__subsection::after {
        width: 100%;
        left: 0;
    }

    .oferta__subsection__header {
        font-size: 20px;
    }

    .oferta__subsection__text {
        font-size: 14px;
    }

    .oferta__subsection__header {
        padding-left: 20px;
    }

    .oferta__subsection__number {
        font-size: 60px;
        left: -10px;
    }

    .footerCol {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer__contact {
        margin: 5px 0 10px;
    }

    .footer__header {
        margin-bottom: 0;
    }

    .oferta__item {
        width: 90%;
    }

    .oNasInner {
        padding: 25px;
    }

    .formaKontaktu {
        flex-wrap: wrap;
    }

    .formaKontaktu__header {
        width: 100%;
        margin-bottom: 25px;
    }
}

@media(max-width: 600px) {
    .topMenu__logo {
        width: 190px;
        height: auto;
    }

    .opinie__item {
        width: 90%;
        padding: 20px;
    }

    .opinie__text, .opinie__author {
        font-size: 14px;
    }

    .opinie__header {
        margin-bottom: 10px;
    }

    .kontakt__header {
        font-size: 18px;
    }

    .contactInput, .contactInputLabel {
        height: 40px;
    }

    .contactTextareaLabel, .contactTextarea {
        height: 200px;
    }

    .kontakt {
        padding-bottom: 40px;
    }

    .opinie {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .oferta__item__button {
        width: 80%;
    }
}

@media(max-width: 500px) {
    .oferta__item {
        width: 100%;
        padding: 30px 15px;
    }

    .oNas__section__header {
        font-size: 18px;
    }

    .oNas__section__text {
        font-size: 14px;
    }

    .contactInputLabel {
        width: 100%;
        margin-bottom: 15px;
    }

    .contactInput {
        border-width: 2px;
    }

    .potwierdzenie__text {
        font-size: 18px;
    }
}

@media(max-width: 400px) {
    .formaKontaktu label {
        margin-bottom: 15px;
    }

    .formaKontaktu label:last-of-type {
        margin-right: 0;
    }

    .formaKontaktu__button {
        margin-right: 8px;
        width: 25px;
        height: 25px;
    }
}