/* Global */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

button, a, input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.bold {
  font-weight: 700 !important;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Menu */

.hamburgerMenu {
  display: none;
}

.topMenu {
  width: 100%;
  height: 150px;
  background: #E1E1E1;
  padding: 0 calc((100vw - 1600px) / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.topMenu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1600px;
  background: #AC2A2A;
  height: 1px;
}

.topMenu__logo__button {
  background: transparent;
  cursor: pointer;
}

.topMenu__logo {
  width: 311px;
  height: 82px;
}

.topMenu__list {
  display: flex;
}

.topMenu__item {
  margin: 0 40px;
  font-weight: 700;
  font-size: 17px;
  transition: .2s all;
  cursor: pointer;
}

.topMenu__item:hover {
  color: #AC2A2A;
}

.topMenu__item:last-child {
  margin-right: 0;
}

.topMenuMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #E1E1E1;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 200;
  transform: scaleY(0);
  transition: .4s all;
  transform-origin: top;
}

.topMenuMobile__list {
  transition: .4s all;
  opacity: 0;
}

.topMenuMobile__list .topMenu__item {
  text-align: center;
  margin: 20px 0;
}

.topMenuMobile__close {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: .4s all;
  opacity: 0;
}

.topMenuMobile__close__img {
  width: 30px;
  height: 30px;
}

/* Landing */

.landing {
  padding-top: 40px;
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: #E1E1E1;
  z-index: -1;
  border-bottom: 2px solid #AC2A2A;
}

.landing::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: #000;
  z-index: -1;
}

.landing__img {
  display: block;
  margin: 0 auto;
  width: 1600px;
  height: auto;
}

.landing__header {
  width: 70%;
  height: 130px;
  background: #AC2A2A;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.landing__header__header {
  font-size: 36px;
  color: #fff;
}

.landing__header__oferta {
  display: flex;
  justify-content: space-between;
}

.landing__oferta__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 45px;
  opacity: 0;
}

.landing__oferta__item__imgWrapper {
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__oferta__item__img {
  width: 32px;
  height: 32px;
}

.landing__oferta__item__header {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

/* Oferta - pages */

.oferta__section {
  padding: 100px 10vw 120px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #000;
}

.oferta__header {
  margin: 30px auto;
  text-align: center;
  font-size: 36px;
  border-bottom: 1px solid #AC2A2A;
  padding-bottom: 4px;
  color: #fff;
  width: fit-content;
}

.oferta__subsection {
  width: 100%;
  padding: 90px 0 60px 100px;
  border-left: 1px solid #8B8B8B;
  position: relative;
  opacity: 0;
}

.oferta__subsection::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 3px;
  background: #fff;
  height: 130px;
}

.oferta__subsection::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100px;
  width: calc(100% - 100px);
  height: 1px;
  background: #AC2A2A;
}

.oferta__subsection * {
  color: #fff;
}

.oferta__subsection__header {
  font-size: 26px;
  margin-bottom: 50px;
  position: relative;
}

.oferta__subsection__text {
  text-align: justify;
  font-size: 17px;
}

.oferta__subsection__number {
  position: absolute;
  top: 50%;
  left: -45px;
  transform: translateY(-50%);
  font-size: 100px;
  color: rgba(255, 255, 255, .15);
}

.oferta__subsection:last-child::after {
  display: none;
}

/* Footer */

.footer {
  background: #E1E1E1;
  width: 100%;
  padding: 30px 10vw 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerCol {
  width: 30%;
}

.footer__header {
  color: #AC2A2A;
  font-size: 26px;
  margin-bottom: 20px;
}

.footer__contact {
  margin: 30px 0;
}

.footer__contact__data {
  font-weight: 400;
  font-size: 16px;
}

.footer * {
  text-align: center;
}

.footer li {
  margin: 5px 0;
}

.footer__bottom {
  width: 100%;
  border-top: 1px solid rgba(2, 2, 26, .15);
  padding-top: 20px;
}

.footer__caption {
  font-size: 12px;
  font-weight: 400;
  color: #02021A;
  opacity: .5;
}

.footer__caption a {
  font-weight: 700;
  transition: .2s all;
}

.footer__caption a:hover {
  color: #AC2A2A;
}

.footer li a {
  transition: .2s all;
}

.footer li a:hover {
  color: #AC2A2A;
}

/* Oferta */

.oferta {
  background: #000;
  position: relative;
  padding: 120px 15%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#oferta {
  position: absolute;
  top: -250px;
  left: 0;
  background: transparent;
}

.oferta__item {
  background: #AC2A2A;
  width: 24%;
  margin: 0 4% 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  border-bottom: 15px solid #7D0B0B;
}

.oferta__item:hover .oferta__item__imgWrapper {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.oferta__item * {
  color: #fff;
}

.oferta__item__imgWrapper {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.oferta__item__img {
  width: 30px;
  height: 30px;
}

.oferta__item__header {
  font-size: 22px;
  text-align: center;
}

.oferta__item__text {
  font-size: 15px;
  text-align: center;
  margin: 20px 0;
}

.oferta__item__button {
  font-size: 13px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
}

.oferta__item__button a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative;
  overflow: hidden;
  transition: .4s all;
}

.oferta__item__button a:focus {
  outline: 0;
}

.oferta__item__button a::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5;
  filter: blur(30px);
  transform: translateX(-100px)  skewX(-15deg);
}

.oferta__item__button a::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px) skewX(-15deg);
}

.oferta__item__button a:hover {
  background: #000;
  cursor: pointer;
}

.oferta__item__button a:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 1.2s;
}

.oferta__item__button a:hover::before {
  transform: translateX(300px)  skewX(-15deg);
  opacity: 1;
  transition: 1.2s;
}

.ofertaMobile__header {
  display: none;
}

/* O nas */

.oNas {
  position: relative;
}

#oNas, #kontakt {
  position: absolute;
  top: -170px;
}

#opinie {
  position: absolute;
  top: -100px;
}

.oNasInner {
  background: #E1E1E1;
  box-shadow: 0px 0px 15px #00000029;
  width: 70%;
  padding: 40px 55px;
  margin: 0 auto;
  position: relative;
}

.oNasInner::before, .oNasInner::after {
  content: "";
  position: absolute;
  background: #000;
  width: calc(100vw - 10px);
  height: 100px;
  left: -22%;
  z-index: -1;
}

.oNasInner::before {
  top: 0;
}

.oNasInner::after {
  bottom: 0;
}

.oNasInner__item {
  margin-bottom: 30px;
}

.oNas__header {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
}

.oNas__section__header {
  font-size: 26px;
  padding-left: 15px;
  border-left: 8px solid #AC2A2A;
  margin-bottom: 15px;
}

.oNas__section__text {
  font-size: 20px;
  padding-left: 23px;
}

/* Opinie */

.opinie {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  position: relative;
}

.opinie__header {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

.opinie__item {
  width: 70%;
  padding: 45px 30px;
  background: #AC2A2A;
  margin: 25px 0;
  border-bottom: 10px solid #7D0B0B;
}

.opinie__text {
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
}

.opinie__author {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

/* Kontakt */

.kontakt {
  position: relative;
  background: #000;
  padding: 0 0 100px;
  overflow: hidden;
}

.kontakt__header {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.contactForm {
  width: 650px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 3;
}

.contactInputLabel {
  width: 48%;
  height: 60px;
  margin-bottom: 40px;
}

.contactInput:focus, .contactTextarea:focus {
  border-color: #E1E1E1;
}

.contactInput:focus::placeholder, .contactTextarea:focus::placeholder {
  color: #fff;
}

.contactInput {
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 5px 20px;
  color: #fff !important;
  border: 3px solid #AC2A2A;
  transition: .4s all;
}

.contactINput::placeholder {
  color: #5E5E5E;
}

.contactTextareaLabel {
  width: 100%;
  height: 300px;
}

.contactTextarea {
  background: transparent;
  width: 100%;
  color: #fff;
  padding: 20px;
  height: 300px;
  outline: none;
  resize: none;
  border: 3px solid #AC2A2A;
  transition: .4s all;
}

.formaKontaktu {
  display: flex;
  align-items: center;
  color: #fff;
}

.formaKontaktu * {
  font-size: 15px;
}

.formaKontaktu__header {
  font-size: 16px;
  font-weight: 400;
  margin-right: 30px;
}

.formaKontaktu__button {
  width: 30px;
  height: 30px;
  border: 3px solid #AC2A2A;
  background: #fff;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.formaKontaktu label {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}

.formaKontaktu img {
  cursor: pointer;
}

.submitBtn {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  border-radius: 36px;
  background: #A52828;
  color: #fff;
  font-weight: 700;
  transition: .4s all;
  cursor: pointer;
}

.submitBtn:hover {
  background: #7D0B0B;
}

.buttonFilled {
  background: #AC2A2A;
}

.checkImg {
  display: block;
  width: 80%;
  height: auto;
}

.potwierdzenie {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.potwierdzenie__text {
  color: #fff;
  text-align: center;
  font-size: 30px;
}